
@{
    ViewData["Title"] = "SubmitSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-primary" role="alert">
    Thank you! your contact info has been successfully submitted.
</div>
